* {
    font-family: 'Ubuntu', sans-serif;
}
.navbar {
    background-color: rgb(108, 78, 144);
}
.navbar a {
    color: white;
}
.home {
    color: rgb(255, 255, 255)!important;
}
.other {
    color: white;
}
.other:hover {
    color: rgb(255, 255, 255);
}
.button-cv {
    background-color: rgb(77, 45, 115);
    color: white;
}
#go-to-top {
    position: relative;
    width: 50px;
    height: auto;
    bottom: 1%;
    left: 90%;
    background-color: white;
    border-radius: 50%;
}
#go-to-top:hover {
    scale: 1.1;
}
#go-to-top img {
    width: 50px;
}
.logo {
    width: 50%;
    height: auto;
    margin-bottom: 50px;
}
.img-me {
    width: 60%;
    height: 50%;
    border-radius: 50%;
    filter: drop-shadow(0 0mm 4mm rgba(76, 45, 115, 0.683));
}
button a {
    text-decoration: none;
    color: white;
}
button a:hover {
    color: white;
}
button a:visited {
    color: white;
}
.links img {
    width: 30px;
    height: 30px;
}
.link img:hover {
    scale: 1.1;
}
li {
    list-style-type: none;
}
.competence, .apropos {
    background-color: rgb(240, 240, 240);
}
.competence-img {
    height: 100px;
    padding: 0;
}
.competence-img img {
    height: 100px;
    width: auto;
}
.competence-img img:hover {
    filter: drop-shadow(0 0mm 2mm rgba(76, 45, 115, 0.683))
}
.card-img-top {
    height: 300px;
}
#projets, #projets2, #competence, #apropos {
    margin-bottom: 70px;
    color: rgb(77, 45, 115);
}
.projet-img {
    height: 400px;
}
.projet-img img {
    height: 300px;
    width: auto;
    border: 1px solid black;
    border-radius: 5%;
}
.projet-img img:hover {
    scale: 1.1;
}
.apropos-img, .apropos-img-o {
    height: 150px;
    width: auto;
    margin: 5px;
}
.apropos-img-o {
    margin-top: 100px;
}
hr {
    margin-top: 0;
}
.simplon-img {
    border-radius: 50%;
}
footer nav ul {
    padding-left: 0;
}
.svg-filter {
    filter: invert(16%) sepia(79%) saturate(1092%) hue-rotate(240deg) brightness(98%) contrast(92%);
}
.slider {
    width: 950px;
    height: auto;
    overflow: hidden;
}
.slider-content{
    width: 1850px;
    animation-name: slider;
    animation-duration: 10s;
    position: relative;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}
.slider-content img {
    border: 1px solid black;
}
.slider-content:hover {
    animation-play-state: paused;
  }
.img-slider {
    width: 300px;
}
@keyframes slider {
    0% {
        left: 0%;
    }
    100% {
        left: -100%;
    }
}
.projet-mobile {
    display: none;
}
.competence-animation {
    animation-name: competence;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@media (prefers-reduced-motion: no-preference) {
  .competence-animation {
    transition: opacity 2s linear;
  }
}

.competence-animation-transition {
    opacity: 1;
    transform: none;
}
.projet-link-mobile {
    display: none;
}
@media (max-width: 500px) {
    .img-me {
        filter: drop-shadow(0 0mm 0mm rgba(0, 0, 0, 0));
    }
    .competence-img img:hover {
        filter: drop-shadow(0 0mm 0mm rgba(0, 0, 0, 0));
    }
    .projet-img img:hover {
        scale: 1;
    }
    .apropos-img, .apropos-img-o {
        height: 100px;
    }
    .projet-mobile {
        display: block;
    }
    .projet-link-mobile {
        display: inline;
    }
    .projet-link-desktop {
        display: none;
    }
    .slider-projet {
        display: none;
    }
}