.img-me {
    border-radius: 50%;
}
/*section {
    border: 1px solid black;
}*/
.home {
    height: 100vh;
}
button a {
    text-decoration: none;
    color: white;
}
button a:hover {
    color: white;
}
button a:visited {
    color: white;
}
.link img {
    width: 30px;
    height: 30px;
}
li {
    list-style-type: none;
}
.competence img {
    height: 120px;
    width: auto;
}